.wrap {
    position: relative;
    min-width: 1080px;
    max-width: 100%;
    height: 100%;
    margin: 0;
}

header.gnb {
    width: 100%;
}

.gnb-top {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    height: 40px;
    background-color: #000;
    color: #fff;
    display: flex;
    font-size: 12px;
    justify-content: flex-end;
    align-items: center;
}

.gnb-top a+a {
    padding-left: 8px;
}

.gnb .gnb-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #f1f1f1;
}

.gnb-wrap .gnb-midd {

    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.gnb-midd .aside {
    display: flex;
}

.gnb-midd .aside>div>ul {
    display: flex;
    align-items: center;
}

.aside>div>ul li a img {
    max-width: 80px;
    display: flex;
}

.aside div+div {
    padding-left: 20px;
}

.util ul li+li,
.shop-go ul li+li {
    padding-left: 20px;
}

.shop-go::before {
    content: '';
    width: 1px;
    height: 14px;
    background: #ccc;
    margin-right: 20px;
}

.shop-go {
    display: flex;
    align-items: center;
}

.gnb-bttm {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.category-area {
    display: flex;
}

.category-area .main-nav ul {
    display: flex;
}

.category-area .sub-nav {
    display: flex;
}

.category-area .sub-nav::before {
    content: '';
    width: 1px;
    height: 14px;
    background: #ccc;
    margin: 0 20px;
}

.category-area .sub-nav ul {
    display: flex;
}

.category-area .main-nav ul li+li,
.category-area .sub-nav ul li+li {
    padding-left: 8px;
}

/* slick banner */
.main-banner .slider {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.slick-slide {
    margin: 0;
}

.slick-slide img {
    width: 100%;
}

.slick-prev {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
}

.slick-next {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;
}

.slick-prev:before,
.slick-next:before {
    color: hsla(0, 0%, 100%, 0.163);
}

.slick-active {
    opacity: 1;
}

.slick-slide {
    transition: all ease-in-out .3s;
    opacity: 1;
}

.main-banner>section {
    position: relative;
}

.main-banner>section .mainbann-box::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    background-color: #000000;
    opacity: 0.08;

}

.main-banner>section .mainbann-box a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

.main-banner>section .mainbann-box .txt-box {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.main-banner>section .mainbann-box .txt-box p {
    text-align: center;
    color: #ffffff;
    padding-bottom: 10px;
}

.mainbann-box .txt-box .txt-brand {
    font-size: 18px;
    font-weight: bold;
}

.mainbann-box .txt-box .tit {
    font-size: 32px;
    font-weight: bold;
}

.mainbann-box .txt-box .desc {
    font-size: 18px;
}


/* contents */
/* sub-banner */

.contents {
    margin: 30px auto;
    max-width: 1440px;
    /* min-width: 1280px; */
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

.contents section {
    margin-top: 100px;
}

/* subbanner */
.sub-banner {
    margin-top: 100px;
}

.subbann-box>a {
    position: relative;
}

.subbann-box>a .txt-box {
    position: absolute;
    left: 20%;
    top: 22%;

}

.subbann-box>a .txt-box .tit {
    font-size: 24px;
    padding-bottom: 10px;
}

.subbann-box>a .txt-box .disc {
    font-size: 16px;
}


.goods-wrap {
    display: flex;
    gap: 30px;
}

.goods-layout {
    display: flex;
    gap: 30px;
}

.slick-dots {
    display: none !important;
}

.main-goods img {
    max-width: 456px;
    width: 100%;
}

.main-goods a {
    position: relative;
    display: flex;
    flex-direction: column;

}

.main-goods>a>span {
    position: absolute;
    bottom: 20px;
    padding-left: 20px;
    color: #ffffff;
    font-size: 20px;
    line-height: 24px;
}

.sub-goods {
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.sub-goods img {
    max-width: 220px;
    width: 100%;
}


.brands>ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px 0 -8px;
}

.brands>ul li {
    width: 16.666666%;
    padding: 0 8px;
    margin-bottom: 40px;
    box-sizing: border-box;
}

.brands>ul li a .brand-name {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    padding: 22px 47px;
    border-radius: 12px;
    overflow: hidden;
    box-sizing: border-box;

}

.brands>ul>li>a>span {
    padding-top: 10px;
    text-align: center;
}

.brands>ul li a {
    display: flex;
    flex-direction: column;
}

.brand-name img,
.brand-name span {
    z-index: 1;
}

.brands>ul li a .brand-name::before {
    content: '';
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #f1f1f1;
}

.brands>ul li a img {
    max-width: 80px;
    width: 100%;
}


.event-box a img,
.event-box a .txt-box {
    padding: 8px;
    box-sizing: border-box;
}

.event-box a .txt-box .tit {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 4px;
}

.event-box a .txt-box .disc {
    font-size: 14px;
}

.goods_cont02,
.goods_cont03,
.goods_cont04 {
    display: flex;
    flex-direction: column;
}

.goods_cont02>div,
.goods_cont03>div,
.goods_cont04>div {
    display: flex;
    gap: 30px;
}

.goods-ranking .ranking-btn ul {
    display: flex;
    justify-content: center;
}

.goods-ranking .ranking-btn ul li a {
    color: #aaa;
    font-size: 22px;
}

.goods-ranking .ranking-btn ul li a:hover {
    color: #000;
    text-decoration: underline;
}

.goods-ranking .ranking-btn ul li+li {
    padding-left: 16px;
}

.goods-layout02 ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 30px -8px;
}

.goods-layout02 ul li {
    width: 25%;
    padding: 0 8px 20px 8px;
    box-sizing: border-box;
    font-size: 14px;
    min-height: 480px;
}

.goods-layout02 ul li a img {
    width: 100%;
}

.goods-layout02 ul li a .txt-box p {
    padding: 8px 0 0;
}

.goods-layout02 ul li a .txt-box .txt-brand {
    font-weight: bold;
}

.goods-layout02 ul li a .score-box {
    padding-top: 8px;
    color: #aaa;
}

.goods-layout02 ul li a .txt-box .txt-brand {
    font-weight: bold;
}

.goods-layout02 ul li a .txt-box .price-box {
    display: flex;
    flex-direction: column;

}

.txt-box .price-box del {
    padding-bottom: 4px;
    color: #aaa;
}

.txt-box .price-box .dc {
    color: #7E00ff;
    font-weight: bold;
}

.txt-box .price-box .dc>span {
    color: #000;
    font-weight: bold;
}

.txt-box02 .tit {
    font-weight: bold;
}

.goods-layout02 ul li a .txt-box02 p {
    padding: 8px 0 0;
    line-height: 15px;
}

.ranking_go {
    text-align: center;
}

.ranking_go>a {
    text-align: center;
    width: 220px;
    height: 44px;
    border: 1px solid #aaa;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto 0;
    padding: 12px 0 12px 14px;
    box-sizing: border-box;
}

.goods_cont05 ul li {
    width: 25%;
    padding: 0 8px 50px 8px;
    box-sizing: border-box;
    font-size: 14px;
    min-height: 430px;
}

footer .inner {
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;

}

footer .footer-nav {
    width: 100%;
    border-bottom: 1px solid #b9b9b9;
}

.footer-nav .inner {
    display: flex;
    font-size: 14px;
    color: #777;
    font-weight: 400;
    justify-content: space-between;
}

.footer-nav .inner div ul {
    display: flex;
}

.inner .footer-left {
    margin: 0;
    display: flex;
}

.footer-left ul .private {
    font-weight: bold;
    color: #000;
}

.footer-left ul:nth-child(2)::before {
    content: '';
    width: 1px;
    height: 14px;
    background: #ccc;
    margin: 0 20px;

}

footer .footer-info {
    font-size: 12px;
    color: #777;
}

footer .footer-info h1 {
    font-weight: bold;
    color: #000;
    padding: 20px 0;
}

.footer-info p {
    padding-top: 8px;
}

footer .ifooter-info .etc {
    display: flex;
    align-items: center;
    margin-top: 60px;
}

.ismsp {
    display: flex;
    align-items: center;
}

footer .copyright {
    padding-top: 20px;
}

footer .ect .ismsp img {
    padding-right: 10px;
}

footer .ect .snsicon a img {
    border-radius: 25px;
    padding: 10px;
    background-color: #777;
}

footer .ect {
    display: flex;
    justify-content: space-between;
}
